a {
  text-decoration: none;
  color: midnightblue;
  padding-left: 20px;
}

a:hover, a:active{
  color: lightgray;
}

.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar{
  border-radius: 0px;
  height: 40px;
}
